numpy==1.17.2
pip==19.2.3
setuptools==40.8.0

tensorflow==1.8.0
h5py==2.8.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
PyYAML==5.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0